/* busca */
.barraBusca {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.barraBuscaConteudo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputBusca {
  width: 665px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* tabela */
.tabelaProdutos {
  width: 90%;
  max-width: 1000px;
  max-height: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  background: #fff;
}

/* linhas */
.headerTabela,
.linhaProduto {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  padding: 12px;
  align-items: center;
}

/* cabeçalho */
.headerTabela {
  background: #f0f0f0;
  font-weight: bold;
}

/* linhas */
.linhaProduto {
  border-bottom: 1px solid #eee;
}

.linhaProduto:hover {
  background: #f5f5f5;
}

/* alinhamento igual usuários */
.headerTabela span,
.linhaProduto span {
  display: flex;
  align-items: center;
}

.headerTabela span:nth-child(n+2),
.linhaProduto span:nth-child(n+2) {
  justify-content: center;
}

/* ações */
.acoesTabela {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.acoesTabela button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.acoesTabela {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.acoesTabela button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.acoesTabela button:hover {
  color: #007bff;
}

/* responsivo */
@media (max-width: 768px) {
  .tabelaProdutos {
    width: 95%;
  }

  .headerTabela,
  .linhaProduto {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 14px;
  }
}